@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}


.card-container {
    height: 100vh;
    width: 100%;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.card {
    background-color: white;
    border-radius: 1rem;
    width: 22rem;
    height: 50vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile-img > img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.card h4 {
    margin-bottom: 1.5rem;
}

.card p {
    margin-bottom: 1.5rem;
}

.card-social-media {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.card-social-media > img {
    width: 25px;
    opacity: .6;
}

.card-social-media > img:hover {
    opacity: 1;
}

@media (max-width: 1152px) {
    .card-container {
        height: 100%;
        padding: 5rem 2rem;
    }
}